body{
    background-color: #F8F8F8;
}
    header{
        display:inline-block;
        width: 1000px;
        /* background-color: plum; */
        margin-left: calc((100% - 1000px) / 2)
    }
        header>img{
            display:inline-block;
            float:left;
        }
        nav{
            display:inline-block;
            float:right;
            margin-top: 25px;
        }
            a{

            }
            a:last-of-type{

            }
    main{
        display:inline-block;
        width:1000px;
        /* background-color:gold; */
        margin-left: calc((100% - 1000px) / 2)
    }
        div{
            display:inline-block;
            width:40%;
            /* background-color: gray; */
            float:left;
            margin-top:100px ;

        }
            h1{

            }
            p{
            }
        main>img{
            display:inline-block;
            width:50%;
            float:right;

        }



/* img->raudonus staciakampius
html struktura
pagal html->issirasyti css selektorius
rasom stiliu 

kai viena norime isskirti
a:nth-of-type(5) - penktasis
a:last - paskutinis
a:last-of-type - paskutinis tam tikro tipo

header>img
image tagas turi priklausyti headeriui
varnele tiksliai nurodo kad tiesioginiam vaikui

header img
jei vyresnis suveiks
*/

